.direct-twelth-table{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.direc-cp-btn{
    width: 64px;
    height: 40px;
    font-size: var(--nd-space-300);
}

.sc-dVBluf.iIjLKU.rdt_TableHeadRow {
    background: #ef6236 !important;
    color: var(--nd-white);
}
.fpOuPx{
    font-size: var(--nd-space-400);
}
.rdt_Table {
    max-height: 400px; 
    overflow-y: auto;

  }