.reset-btn {
    padding-left: 6px;
    padding-right: 6px;
    background-color: var(--nd-blue);
    color: white;
    border: 1px var(--nd-blue) solid !important;
    border-radius: 8px;
    font-size: var(--nd-space-250);
}

.pro-thead,
th {
    background-color: #1b2a47 !important;
}

.pro-paging .active>.page-link,
.page-link.active {
    background: #1b2a47 !important;
    border: 1px solid #1b2a47;
    color: var(--nd-white) !important;
}

.pro-form-select {
    font-size: var(--nd-space-300);
    padding: var(--nd-space-100);
    border: 1px #a5a3a3 solid;
    border-radius: var(--nd-space-100);
}

.pro-form-select:hover {
    background-color: var(--nd-dark-blue) !important;
}

.t-d-p {
    padding: 3px;
}

.pro-list-data h2 {
    font-size: var(--nd-space-300);
}

.view-btn {
    padding-left: 6px 6px 6px 6px;
    border:none;
    background-color: transparent;
    border-radius: 8px;
    color: black;
    font-size: var(--nd-space-300);
}
.view-btn:hover{
    background-color: transparent;
    color: black;
}
button.view-btn.btn.btn-primary{
    background-color: transparent !important;
    color: var(--nd-black);
}
.pro-span-btn{
    padding-right: 42px;
}
.pro-t-d-report{
    padding: var(--nd-space-0) !important;
}

.table-container {
    overflow-x: auto;
    white-space: nowrap;
  }
  
 
  .merged-column {
    background-color: #f8f9fa;
    text-align: center;
    font-weight: bold;
  }
  

  .recommendation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }
  .pr-p{
    padding: 0px;
  }
  

  