/* create password css */

.nd-user-reg{
    background-color: var(--nd-white);
    min-height: 540px;
    border-radius: var(--nd-space-300);
}
.nd-regis-heading h5{
    color: var( --nd-blue-dark-bg);
    font-weight: 600;
    font-size: var(--nd-space-400);
    padding-top: 12px;
   
}
.alert-txt-registration{
    color: var(--nd-Primary);
    font-size: var(--nd-space-300);
}
/* otp css */
.nd-user-otp{
    width: 500px;
    padding: 40px;
    padding-top: var(--nd-space-300);
    top: 20% !important;
   align-items: center !important;
   justify-items: center;
   margin: 0 auto;
    transition: 0.25s;
  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06) !important;
    
}
@media only screen and (max-width: 568px) {
 .nd-p-regi{
    padding: 0px;
 }   
}

