.nd-tech-heading h1{
font-size: var(--nd-space-400);
font-weight: 600;

}
.avatar-title {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.avatar-title img{
    height: 36px;
    width: 55px;
}
.avatar-title1 img{
    height: 36px;
    width: 36px;
}
.avatar {
    height: 3rem;
    width: 3rem;
}
.tech-nd-data h4{
    font-size: var(--nd-space-350);
    line-height: var(--nd-space-700);
}
.texh-nd-dashdata{
    background-color: #248afd;
    border-radius: var(--nd-space-200);
    color: #fff;
}
.tech-nd-title{
    align-items: center;
    font-size: var(--nd-space-500);
    
}
.tech-nd-card-title {
    font-size: var(--nd-space-400);
    font-weight: 600;
    padding-bottom: var(--nd-space-200);
    color:#38201c;
}
.texh-nd-dashdata1{
    background-color: #3fbbc0;
    border-radius: var(--nd-space-200);
    color: #fff;
}
.tech-nd-sub{
    padding-left: var(--nd-space-400);
}
.tech-select{
    font-size: var(--nd-space-300);
    padding: var(--nd-space-100) var(--nd-space-0) var(--nd-space-100) var(--nd-space-200);
}